#wpadminbar .site-speed-monitor > .ab-item {
	padding-right: 0;
	overflow: hidden;
}

#wpadminbar .site-speed-monitor > .ab-item:hover,
#wpadminbar .site-speed-monitor > .ab-item:focus,
#wpadminbar .site-speed-monitor > .ab-item:active {
	color: white !important;
}

/**
 * Load time badges
 */
#wpadminbar .site-speed-monitor > .ab-item span.badge {
	background-color: #e0dbdb;
	border: 1px solid transparent;
	color: white;
	padding: 1px 15px !important;
	font-weight: 200 !important;
	font-size: 9px !important;
	float: right;
	line-height: 2.9;
	margin-left: 5px;
}

	#wpadminbar .site-speed-monitor > .ab-item span.badge.great {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

	#wpadminbar .site-speed-monitor > .ab-item span.badge.average {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}

	#wpadminbar .site-speed-monitor > .ab-item span.badge.poor {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
